<!DOCTYPE html>
<html>
  <head>
    <link href="<%= hawk_root %>/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js" type="text/javascript"></script>
    <script src="<%= hawk_root %>/site.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="<%= hawk_root %>/favicon.ico" type="image/x-icon" />
    <title>CI Joe Projects</title>
  </head>
  <body>
    <div class="site">
      <div class="title">
        <a href="/">CI Joe</a>
        <span class="extra">because knowing is half the battle</span>
      </div>

      <div id="projects">
        <% projects.each do |project| %>
        <% project.gsub!(/\//, "") %>
          <div class="project">
            <div class="project_info">
              <h1><a href="<%= "/#{project}" %>"><%= project %></a></h1>
              <ul class="clear_left">
                <li class="github_link">Build Link</li>
                <li class="duration">Duration</li>
              </ul>
            </div>
            <span class="status">Status: Unknown</span>
          </div>
        <% end %>
      </div>

      <div class="clear"></div>
      <div class="footer">
        <div class="contact">
          <p>
            <a href="https://github.com/defunkt/cijoe#readme">Documentation</a><br/>
            <a href="https://github.com/defunkt/cijoe">Source</a><br/>
            <a href="https://github.com/defunkt/cijoe/issues">Issues</a><br/>
            <a href="https://github.com/defunkt/cijoe/tree/v<%= CIJoe::VERSION %>">v<%= CIJoe::VERSION %></a>
          </p>
        </div>
        <div class="contact">
          <p>
            Designed by <a href="http://tom.preston-werner.com/">Tom Preston-Werner</a><br/>
            Influenced by <a href="http://integrityapp.com/">Integrity</a><br/>
            Built with <a href="http://sinatrarb.com/">Sinatra</a><br/>
            Keep it simple, Sam.
          </p>
        </div>        
        <div class="rss">
          <a href="http://github.com/defunkt/cijoe">
            <img src="<%= hawk_root %>/octocat.png" alt="Octocat!" />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
